/* Form.css */

.Form-main {
   
    background-color: rgb(44, 41, 41);
    padding: 6vw;
    height: 30vw;
}
.f-middle{
    display: flex;
}
.f-title {
    text-align: left; /* Align the text to the left */
    flex: 1; /* Allow the content to take up available space */
}

.f-title h2 {
    font-size: 26px; /* Adjust the font size as needed */
    color: #FFFFFF80;
    width: 600;
    font-family: "syne", sans-serif;
    line-height: 31px;
}
.f-title p {
    font-size: 18px; /* Adjust the font size as needed */
    color: #FFFFFF80; /* Set your desired text color */
    /* You can add more styling here as needed */
    font-family: "Work Sans", sans-serif;
}
.f-title h3 {
    font-size: 26px; /* Adjust the font size as needed */
    color: #000000; /* Set your desired text color */
    /* You can add more styling here as needed */
    font-family: "syne", sans-serif;
}
.f-line {
    margin-top: -5vw; 
    width: 45vw;
    height: 2px; /* Adjust the height of the line as needed */
    background-color: #000000; /* Change the background color to your desired color */
    z-index: 1;
  }
  .f-star {
  
  width: 20vw;
  
  }
  .f-star p {
    color:#FFFFFF80;
  }
  .f-top{
    display: flex;
    align-items:baseline;
    justify-content: space-between;
  }

  .Form-details {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start; /* Align items to the left */
    margin-left: 6vw;
  }
  
  .Form-item {
    /* display: flex; */
    align-items: center;
    text-align: left;
    margin-bottom: 20px; /* Add spacing between Form items */
  }
  
  .Form-item img {
    width: 20vwpx; /* Adjust the image size as needed */
    margin-right: 2vw; /* Add spacing between image and info */
  }
  
  .Form-info img {
    width: 30px; /* Adjust the icon size as needed */
  }
  
  .Form-info h4 {
    font-size: 26px; /* Adjust the title font size as needed */
    margin: 5px 0;
    font-family: "Syne", sans-serif;

  }
  
  .Form-info p {
    font-size: 14px; /* Adjust the description font size as needed */
    margin: 5px 0;
    font-family: "work sans", sans-serif;
    color: 
    #51514d;
    max-width: 20vw;

  }

  .Form-info-l h4 {
    font-size: 26px; /* Adjust the title font size as needed */
    margin: 5px 0;
    font-family: "Syne", sans-serif;

  }
  
  .Form-info-l p {
    font-size: 14px; /* Adjust the description font size as needed */
    margin: 5px 0;
    font-family: "work sans", sans-serif;
    color: 
    #51514d;
    max-width: 10vw;

  }
  .Form-info-l span {
    font-size: 26px; /* Adjust the number font size as needed */
    font-family: "Syne", sans-serif;

  }
  
  .Form-info span {
    font-size: 26px; /* Adjust the number font size as needed */
    font-family: "Syne", sans-serif;

  }

  .Form-content {
    display: flex;
  }
  .form-line {
    border: 0;
    background-color: white;
    border-top: 1px solid #ffffff80; /* You can adjust the line color and style here */
    width: 35vw;
    margin: 2px 0; /* Adjust the margin to control the spacing between lines and text */
  }
  .get h2 {
font-family: Syne;
font-size: 14vw;
font-weight: 800;
line-height: 1px;
letter-spacing: 0em;
text-align: left;
color: white;
transform: scale(1, .6);
position: relative;
top:-4vw;
  }


  .in h2 {
    font-family: Syne;
    font-size: 14vw;
    line-height: 1px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    transform: scale(1, 0.6); /* Adjust the scale for thickness */
    font-weight: bold; /* Make the text appear thicker */
    z-index: 0;
    position: relative;
top:-9vw;
  }
  .touch h2 {
    font-family: Syne;
    font-size: 14vw;
    line-height: 1px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    transform: scale(1, 0.6); /* Adjust the scale for thickness */
    font-weight: bold; /* Make the text appear thicker */
    z-index: 0;
    position: relative;
    bottom:21vw;
    left: 18vw;
  }
  .f-circle {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #F07E15;
    background-color: transparent;
    float: right;
    margin-right: 2vw;
    margin-top: 4vw;
    z-index: 2;
    position: relative;
  }
  
  .f-circle h2 {
    text-align: center;
    color: #F07E15;
    font-size: 26px;
    font-family: "Work Sans", sans-serif;
    font-weight: 300; /* Set the font weight to a lighter value */
  }
  .bar {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: #000000;
    height: 70px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center;
  }
  
  .bar p {
    color: white;
    font-size: 12px;
    font-family: "poppins", sans-serif;
    font-weight: 200; /* Set the font weight to a lighter value */
  }
  

  @media (max-width: 576px) {

.Form-main{
  top:13vw;
  position: relative;
  height: 150vw;
}
.bar {
  margin-bottom: 1vw;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 2;
}
.f-top{
  display: block;
  text-align: center;
}
.f-star{
  width: 90vw;
  text-align: center;
}
.f-title p{
  text-align: center;
  font-size: 18px;

}
.form-line{
  width: 85vw;
  background-color: white;
}
.f-arrow p {
  text-align: left;
  font-size: 16px;
}
.touch h2 {
  font-size: 19vw;
  left: 1vw;
  bottom:15vw;
}
.in h2 {
  font-size: 19vw;
  /* top:-24vw; */
}
.get h2 {
  font-size: 19vw;
  /* top: -12vw; */
}
.f-circle{
  width: 100px;
    height: 100px;
    margin-right: 4vw;
    margin-top: 4vw;
}
.f-circle h2{
  font-size: 14px;
}
  }